<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<form th:method="POST" th:action="@{/book/{id}(id=${book.getId()})}" th:object="${book}">
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="author">Author: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <br/>
  <label for="year">Year: </label>
  <input type="text" th:field="*{year}" id="year"/>
  <input type="submit" value="Update!"/>
</form>
<br/>
<form th:method="POST" th:action="@{/book/{id}/delete(id=${book.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>